/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(8, 0, 38);
  color: white;
}

.component-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  @apply rounded px-4 py-2 font-bold;
}

.btn-primary {
  @apply bg-purple-600 text-white;
}

.btn-primary:hover {
  @apply bg-purple-700 text-white;
}

button:disabled {
  @apply bg-gray-800;
}

.pokemon-title {
  font-family: 'Pokemon', sans-serif;
  font-size: 3rem;
  color: #f8d030;
  text-transform: uppercase;
  text-shadow:
    2px 2px 0 #3b4cca,
    -2px -2px 0 #3b4cca,
    2px -2px 0 #3b4cca,
    -2px 2px 0 #3b4cca,
    4px 4px 0 #ff0000;
  letter-spacing: 2px;
  text-align: center;
}
